body {
    margin: 0;
    font-family: Helvetica;
}


.topnav {
    overflow: hidden;
    background-color: #333;
    box-shadow: 0px 5px 5px #888888;
    position: fixed;
    top: 0;
    width: 100%;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10pt 14pt;
    text-decoration: none;
    font-size: 14pt;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


#logo {
    float: left;
    padding: 10pt 10pt;
    padding-left: 20pt;
    width: 40px;
}


.searchbar {
    float: left;
    padding: 2pt 10pt;
}
.searchbar input {
    float: left;
    color: #333;
    text-align: center;
    margin-top: 5pt;
    text-decoration: none;
    font-size: 14pt;
}
.topnav button {
    float: center;
    text-align: center;
    margin-top: 5pt;
    padding: 3pt 10pt;
    text-decoration: none;
    font-size: 13pt;
    border: 0pt;
    cursor: pointer;
}
.topnav button:hover {
    background-color: #4CAF50;
    color: white;
}

.userinfo {
    float: right;
    padding: 2pt 20pt;
}
.userinfo label {
    padding: 8pt 20pt;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 14pt;
}


.content {
    margin: 10pt;
    margin-top: 50pt;
}


button {
    float: center;
    text-align: center;
    padding: 2pt 10pt;
    text-decoration: none;
    font-size: 10pt;
    border: 0pt;
    cursor: pointer;
    background-color: #666;
    color: white;
}
button:hover {
    background-color: #4CAF50;
    color: white;
}


#authentication {
    margin: auto;
    width: 140pt;
    text-align: center;
    background-color: #ddd;
    box-shadow: 0 0 10px #888888;
}
#authentication #logo {
    filter: brightness(0%);
    width: 80pt;
    margin: 10pt 10pt 10pt
}
#authentication #div-error-message {
    padding-top: 0pt;
    padding-bottom: 0pt;
}
#authentication input{
    margin: 4pt 0pt
}
#authentication button{
    margin-top: 7pt;
    margin-bottom: 18pt;
    width: 38%
}
#authentication #error-message {
    color: black;
    text-decoration: none;
    font-size: 8pt;
}



table  {
    border-collapse: collapse;
    margin-top: 10px;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
table tr:nth-child(even) {
    background-color: #f2f2f2;
}
table tr:hover {
    background-color: #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffb400;
    color: black;
}
table a {
    text-decoration: none;
}
table button {
    padding: 9px 10px;
}
table button[id^="btn-delete"] {
    background-color: #9e1800;
    color: white;
}
table button[id^="btn-delete"]:hover {
    background-color: #FF0000;
    color: white;
}
table button[id^="btn-add"] {
    background-color: #38823b;
    color: white;
}
table button[id^="btn-add"]:hover {
    background-color: #4CAF50;
    color: white;
}


div[class^="data"] span {
    display: inline-block;
    width: 20ex
}