<table id="collaborators-table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody id="items">
        {{#each collaborators}}
        <tr>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>