<section id="show-group">
    <h1>Group: {{name}}</h1>
    <h3>Description: {{description}}</h3>
    <div id="series-content"/>
</section>

<div class="data-forms">
    <section id="score-series">
        <h2>Rate series</h2>
        <div class="data-score"><span>Score: </span><input id="user-score" type="number" min="1" max="10" step="1" value="1"/></div>
    </section>
    <section id="series-by-vote">
        <h2>Sort series by vote</h2>
        <div class="data-seriesbyvote">
            <div><span>Lower vote: </span><input type="number" id="votelow" min="0" max="10" step="0.1" value="0"/></div>
            <div><span>Higher vote: </span><input type="number" id="votehigh" min="0" max="10" step="0.1" value="10"/></div>
        </div>
        <button id="btn-series-by-vote">
            Sort
        </button>
    </section>

    <section id="edit-group">
        <h2>Edit this Group</h2>
        Blank field will be ignored
        <div class="data-group">
            <div><span>Group name: </span><input type="text" id="name"/></div>
            <div><span>Group description: </span><input type="text" id="description"/></div>
        </div>
        <button id="btn-edit-group">
            Edit Group
        </button>
    </section>
</div>