<table id="series-table"> 
    <thead>
        <tr>
            <th>Name</th>
            <th>Original Name</th>
            <th>Vote Average</th>
        </tr>
    </thead>
    <tbody id="items">
        {{#each series}}
        <tr>
            <td>{{name}}</td>
            <td>{{original_name}}</td>
            <td>{{vote_average}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>