<table id="series-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Original Name</th>
            <th id="th-button"></th>
        </tr>
    </thead>
    <tbody id="items">
        {{#each series}}
        <tr>
            <td>{{name}}</td>
            <td>{{original_name}}</td>
            <td><button id="btn-delete-serie" value={{id}}>delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>