<div id="authentication">
    <div>
        Username: <input type="text" id="username"\>
    </div>
    <div>
        Password: <input type="password" id="password"\>
    </div>
    <button id="btn-auth-login">Login</button>
</div>