<div id="authentication">
    <img id="logo" src="assets/logo.png"/>
    <div>
        <input type="text" id="username" placeholder="User Name"\>
    </div>
    <div>
        <input type="password" id="password" placeholder="Password"\>
    </div>
    <button id="btn-auth-login">Login</button>
    <button id="btn-auth-register">Register</button>
</div>