<section id="show-grouplist">
    <h1>Group List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody id="items">
            {{#each this}}
            <tr>
                <td id="td-nopadding"><button id="btn-add-serie" value={{id}}>{{name}}</button></td>
                <td>{{description}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>